<form class="{{cssClass}}" autocomplete="off">
    <div style="
            padding: 50px;
            width: 918px; height: 1298px;
            background-size: 100% 100%; background-image:url(modules/uw-sheet/empty.png);">
        <h1 class="charname">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        </h1>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

</form>

