<form class="{{cssClass}}" autocomplete="off">
    <div id="page1" style="position: relative;width: 918px; height: 1188px; background-size: 100% 100%; background-image:url(modules/uw-sheet/p1.png);">
        <input style="
            position: absolute;
            left: 60px; top: 140px;
            background: transparent;
            border: 1px dotted lightgrey;
            width: 350px;
        " type="text" value="{{actor.name}}" placeholder="Name" name="name"/>

        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"
            style="position: absolute;
            left: 10px;
            top: 10px;
            max-width: 520px;
            max-height: 120px;
            " 
        />

        <textarea style="position: absolute;
            left: 30px;
            top: 220px;
            width: 430px;
            height: 90px;
            border: 1px dotted lightgrey;
            background: transparent;
        "  name="data.attributes.description">{{data.attributes.description}}</textarea>

        <input style="position: absolute;
            left: 61px;
            top: 358px;
            height: 40px;
            width: 40px;
            text-align: center;
            background: transparent;
            border: none;
            font-size: 30px;"
            type="text" value="{{data.attributes.mettle}}" placeholder="+0" name="data.attributes.mettle"
        />
        <input style="position: absolute;
            left: 143px;
            top: 358px;
            height: 40px;
            width: 40px;
            text-align: center;
            background: transparent;
            border: none;
            font-size: 30px;"
            type="text" value="{{data.attributes.physique}}" placeholder="+0" name="data.attributes.physique"
        />
        <input style="position: absolute;
            left: 224px;
            top: 358px;
            height: 40px;
            width: 40px;
            text-align: center;
            background: transparent;
            border: none;
            font-size: 30px;"
            type="text" value="{{data.attributes.influense}}" placeholder="+0" name="data.attributes.influense"
        />
        <input style="position: absolute;
            left: 305px;
            top: 358px;
            height: 40px;
            width: 40px;
            text-align: center;
            background: transparent;
            border: none;
            font-size: 30px;"
            type="text" value="{{data.attributes.expertise}}" placeholder="+0" name="data.attributes.expertise"
        />
        <input style="position: absolute;
            left: 386px;
            top: 358px;
            height: 40px;
            width: 40px;
            text-align: center;
            background: transparent;
            border: none;
            font-size: 30px;"
            type="text" value="{{data.attributes.interface}}" placeholder="+0" name="data.attributes.interface"
        />
        <textarea style="position: absolute;
            left: 500px;
            top: 200px;
            width:350px; height: 410px;
            border: 1px dotted lightgrey;
            background: transparent;
        "  name="data.attributes.assets">{{data.attributes.assets}}</textarea>

        <input style="position: absolute;
            left: 480px;
            top: 652px;
            height: 40px;
            width: 40px;
            text-align: center;
            background: transparent;
            border: none;
            font-size: 30px;"
            type="text" value="{{data.attributes.armor}}" placeholder="0" name="data.attributes.armor"
        />

        <textarea style="
            position: absolute;
            left: 65px;
            top: 510px;
            width: 355px;
            height: 600px;
            border: 1px dotted lightgrey;
            background: transparent;
        "  name="data.attributes.skills">{{data.attributes.skills}}</textarea>

        <textarea style="
            position: absolute;
            left: 500px;
            top: 770px;
            width: 355px;
            height: 180px;
            border: 1px dotted lightgrey;
            background: transparent;
        "  name="data.attributes.datapoints">{{data.attributes.datapoints}}</textarea>

        <textarea style="
            position: absolute;
            left: 455px;
            top: 1020px;
            width: 395px;
            height: 80px;
            border: 1px dotted lightgrey;
            background: transparent;
        "  name="data.attributes.exp">{{data.attributes.exp}}</textarea>
    </div>
    <br>
    <div id="page2" style="position: relative;width: 918px; height: 1188px; background-size: 100% 100%; background-image:url(modules/uw-sheet/p2.png);">
        <textarea style="
            position: absolute;
            left: 525px;
            top: 120px;
            width: 330px;
            height: 380px;
            border: 1px dotted lightgrey;
            background: transparent;
        "  name="data.attributes.factions">{{data.attributes.factions}}</textarea>

        <textarea style="
            position: absolute;
            left: 525px;
            top: 625px;
            width: 330px;
            height: 500px;
            border: 1px dotted lightgrey;
            background: transparent;
        "  name="data.attributes.injuries">{{data.attributes.injuries}}</textarea>
    </div>

</form>

